@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* ### Primary */

  --clr-violet: hsl(263, 55%, 52%);
  --clr-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-dark-blackish-blue: hsl(219, 29%, 14%);

  /* ### Neutral */

  --clr--White: hsl(0, 0%, 100%);
  --clr-Light-gray: hsl(0, 0%, 81%);
  --clr-Light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  font-size: 11px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  /* font-family: "Big Shoulders Display", cursive; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.article {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  padding: 20px;
  color: var(--clr-Light-grayish-blue);
  box-shadow: 15px 10px 50px 10px rgba(24, 4, 58, 0.174);
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.profile-details {
  display: flex;
  flex-direction: column;
}
.profile-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid var(--clr--White);
}
.daniel-one {
  background-color: var(--clr-violet);
}

.grid-container {
  width: 78rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.daniel {
  background-color: var(--clr-violet);
  grid-column: 1/3;
  grid-row: 1/2;
}
.Jonathan {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: var(--clr-dark-grayish-blue);
}
.Jeanette {
  grid-row: 2/3;
  background-color: var(--clr--White);
  color: var(--clr-dark-blackish-blue);
}
.Patrick {
  grid-column: 2/4;
  background-color: var(--clr-dark-blackish-blue);
}
.Kira {
  grid-row: 1/3;
  background-color: var(--clr--White);
  color: var(--clr-dark-blackish-blue);
}
.tittle {
  opacity: 50%;
}
.description {
  opacity: 75%;
  font-weight: 300;
  line-height: 1.4rem;
}
